.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.center {
  display: flex;
  justify-content: center;
}
.particles {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* @media (min-width: 320px) and (max-width: 480px) {
  .App {
    background-color: red;
    height: 100vh;
  }
} */

@media (min-width: 481px) and (max-width: 767px) {
}
