.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.center {
  display: flex;
  justify-content: center;
}
.particles {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* @media (min-width: 320px) and (max-width: 480px) {
  .App {
    background-color: red;
    height: 100vh;
  }
} */
@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
    width: 100vw;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    top: 8vh;
    height: 30vh;
    background-color: #0e4b52;
    width: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50px 0px 0px 50px;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0.5;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
