.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.center {
  display: flex;
  justify-content: center;
}
.particles {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
