@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:wght@600&display=swap");

/* font-family: 'Work Sans', sans-serif; */
.toolbar {
  width: 100%;
  background: linear-gradient(89deg, #9ce6ee 0%, #4eeba2 70%);
  height: 10vh;
  margin-bottom: 5rem;
}
.toolbar__logo {
  font-family: Poppins, "sans-serif";
  font-size: 25px;
  padding: 0 1rem;
}
.toolbar__navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1.2rem;
}
.toolbar_navigation_links li {
  list-style-type: none;
  text-decoration: none;
}
.toolbar_navigation_links li:hover {
  color: #f73a3a;
}
.toolbar_navigation_links li:active {
  color: #940303;
}
ul {
  padding: 0;
  margin: 0;
  display: flex;
}
li {
  padding: 0 2.5rem;
  cursor: pointer;
}
.spacer {
  flex: 1;
}
@media (min-width: 200px) and (max-width: 767px) {
  #id,
  .toolbar_navigation_links {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .toggler {
    display: none;
  }
}
@media (min-width: 1281px) {
  .toggler {
    display: none;
  }
}
